<h2><%= I18n.t('general.edit')%><%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, I18n.t('devise.registrations.edit.email') %><br />
  <%= f.email_field :email %></div>

<div><%= f.label :password, I18n.t('devise.registrations.edit.password') %> <i><%=  I18n.t('devise.registrations.edit.message1') %></i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation,  I18n.t('devise.registrations.edit.password_confirmation') %><br />
  <%= f.password_field :password_confirmation %></div>

<div><%= f.label :current_password, I18n.t('devise.registrations.edit.')  %> <i><%=  I18n.t('devise.registrations.edit.message2') %></i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit I18n.t('general.save') %></div>
<% end %>

<h3><%= I18n.t('devise.registrations.edit.cancel') %></h3>

<p><%=  I18n.t('devise.registrations.edit.unhappy')%><%= link_to  I18n.t('devise.registrations.edit.cancel_acount') , registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to  I18n.t('general.back') , :back %>
