%h1= t 'clients.index.title'

%table.index_table.zebra.sortable
  %tr
    %th= t 'clients.index.name'
    %th= t 'clients.index.rut'
    %th= t 'clients.index.contact'
    %th= t 'clients.index.email'
    %th= t 'clients.index.address'
    %th= t 'clients.index.phone'
    %th= t 'general.actions'

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.rut
      %td= client.contact
      %td= client.email
      %td= client.address
      %td= client.phone
      %td
        .btn-group
          = link_to I18n.t('general.show'), client, :class => 'btn btn-mini', :id => 'client_show'
          = link_to I18n.t('general.edit'), edit_client_path(client), :class => 'btn btn-mini', :id => 'client_edit'
          = link_to I18n.t('general.destroy'), client, data: {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-mini', :id => 'client_destroy'

%br

= link_to I18n.t('clients.index.new_client'), new_client_path
