%p#notice= notice

%legend Show
%table
  %tr
    %th Name:
    %td= @client.name
  %tr
    %th RUT:
    %td= @client.rut
  %tr
    %th Contact:
    %td= @client.contact
  %tr
    %th Email:
    %td= @client.email
  %tr
    %th Address:
    %td= @client.address
  %tr
    %th Phone:
    %td= @client.phone
%br

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
