%fieldset.fieldset
  %legend Products
  .controls.controls-row.form-inline
    = label_tag :name
    = text_field_tag :product_name, '', class: 'span3', data: {'autocomplete_source' => Product.order(:name).map {|u| Hash[id: u.id, label: u.name, price: u.price]}},"data-content" => "The name of product is required",'rel'=> "popover",'data-original-title'=> "Error Product Name"
    = label_tag :price
    .input-prepend.input-append
      %span.add-on $
      = text_field_tag :product_price,'', class: "input-small"
    = label_tag :quantity
    = text_field_tag :product_quantity, '', class: 'span1'
    = submit_tag "Add Product",class: "btn btn-primary", id: "btn_add_product"
    = hidden_field_tag :product_id, id: 'product_id'

  %legend Added Products

  = render 'table_products'
