= form_for @order do |f|
  -if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  
  .alert.alert-error{ :id => 'alert', :style => 'display:none'}
    %button{ "type" => "button", "class" => "close", "data-dismiss" => "alert"}×
    = label_tag :error, '', :id => 'error_message'

  %fieldset.fieldset
    .controls.form-inline
      .controls.form-inline
        = radio_button_tag(:option, "name")
        = label_tag :client_name
        .content{ :id => "content_client_name", :style => "display:none"}
          = text_field_tag :client_name,'' ,:id => 'search_client_name', data: {'autocomplete_source' => Client.order(:name).map {|u| Hash[id: u.id, label: u.name, address: u.address]}}
          %a{'id' => 'btn_create_client', 'class' => 'btn'} Create
      .controls.form-inline
        = radio_button_tag(:option, "phone")
        = label_tag :client_phone
        .content{ :id => 'content_client_phone', :style => "display:none"}
          .controls.form-inline
            = text_field_tag :client_phone_number
            %a{ :id => 'btn_search_client', :class => 'btn'}Search
          %span{:style => 'display:none', :id => 'phone_client_name'}
      .controls.form-inline
        = radio_button_tag(:option, "final_client")
        = label_tag :final_client
      = search_field(:order,:final_client,:onsearch => true, :style => "display:none")
      = hidden_field_tag :id_client
    //= f.collection_select :client_id, @clients,:id, :name 

  = render 'add_product_to_list'

  .field
    = f.label :notes
    = f.text_area :notes, size: "64x5"
  .field
    .timepicker
      = f.label :due_date
      = f.text_field :due_date, class: 'span2'
  .field
    = f.label :delivery_address
    = f.text_field :delivery_address, class: 'span4'
  .actions
    = f.submit 'Save', class: "btn btn-primary"

%div{'aria-hidden'=>'true', 'aria-labelledby'=>'myModalLabel', 'role'=>'dialog', 'tabindex'=>'-1', 'class'=>'modal hide fade', 'id'=>'modalNewClient', 'style'=>'display: none;'}
  %div{'class'=>'modal-header'}
    %button{'type'=>'button', 'class'=>'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}×
    %h3{'id'=>'myModalLabel'}New client
  %div{'class'=> 'modal-body'}
    = form_for @client, remote: true do |f|
      -if @client.errors.any?
        #error_explanation
          %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
          %ul
          - @client.errors.full_messages.each do |msg|
            %li= msg

      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :rut
        = f.text_field :rut
      .field
        = f.label :contact
        = f.text_field :contact
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :address
        = f.text_field :address
      .field
        = f.label :phone
        = f.text_field :phone
  %div{'class' => 'modal-footer'}
    %button{ 'class' => 'btn', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}Close
    %button{ 'class' => 'btn btn-primary', 'id' => 'save_client', 'type' => 'submit'} Save


