= form_for @order do |f|
  -if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  #errors
    .alert.alert-error.fade.in{'style' => 'display:none', 'id' => 'alert_chosse_product' }
      %button.close{:type => "button"} ×
      %h4.alert-heading 
        = I18n.t("scripts.orders.chosse_product")

    .alert.alert-error.fade.in{'style' => 'display:none', 'id' => 'alert_product'}
      %button.close{:type => "button"} ×
      %h4.alert-heading
        = I18n.t("scripts.orders.product_unregistred")

    .alert.alert-error.fade.in{'style' => 'display:none', 'id' => 'alert_quantity'}
      %button.close{:type => "button"} ×
      %h4.alert-heading
        = I18n.t("scripts.orders.greater_than.quantity")

    .alert.alert-error.fade.in{'style' => 'display:none', 'id' => 'alert_price'}
      %button.close{:type => "button"} ×
      %h4.alert-heading 
        = I18n.t("scripts.orders.greater_than.price")

    .alert.alert-error.fade.in{'style' => 'display:none', 'id' => 'alert_already_added'}
      %button.close{:type => "button"} ×
      %h4.alert-heading 
        = I18n.t("scripts.orders.already_added")

  %section
    %header
      %h1 
        %small
          = I18n.t('orders.form.select_client')
    %fieldset.well.well-large
      .controls.form-inline
        .controls.form-inline
          = radio_button_tag(:option, "name")
          = label_tag :client_name, I18n.t('orders.form.client_name')
          .content{ :id => "content_client_name", :style => "display:none"}
            = text_field_tag :client_name,'' ,:id => 'search_client_name', data: {'autocomplete_source' => Client.order(:name).map {|u| Hash[id: u.id, label: u.name, address: u.address]}}
            %a{'id' => 'btn_create_client', 'class' => 'btn'}= I18n.t('general.create')
        .controls.form-inline
          = radio_button_tag(:option, "phone")
          = label_tag :client_phone, I18n.t('orders.form.client_phone')
          .content{ :id => 'content_client_phone', :style => "display:none"}
            .controls.form-inline
              = text_field_tag :client_phone_number
              %a{ :id => 'btn_search_client', :class => 'btn'}= I18n.t('general.search')
            %span{:style => 'display:none', :id => 'phone_client_name'}
        .controls.form-inline
          = radio_button_tag(:option, "final_client")
          = label_tag :final_client, I18n.t('orders.form.final_client')
        = search_field(:order,:final_client,:onsearch => true, :style => "display:none")
        = hidden_field_tag :id_client

  = render 'add_product_to_list'
  %section
    %header
      %h1 
        %small
          = I18n.t('orders.form.order_detail')
    .field
      = f.label :invoice_number, I18n.t('orders.form.invoice_number')
      = f.text_field :invoice_number
    .field
      = f.label :notes, I18n.t('orders.form.notes')
      = f.text_area :notes, size: "64x5"
    .field
      = f.label :due_date, I18n.t('orders.form.due_date')
      = f.text_field :due_date
    .field
      = f.label :delivery_address, I18n.t('orders.form.delivery_address')
      = f.text_field :delivery_address, class: 'span4'
    .actions
      = f.submit I18n.t('general.save'), class: "btn btn-primary" , id: "order_save"

%div{'aria-hidden'=>'true', 'aria-labelledby'=>'myModalLabel', 'role'=>'dialog', 'tabindex'=>'-1', 'class'=>'modal hide fade', 'id'=>'modalNewClient', 'style'=>'display: none;'}
  %div{'class'=>'modal-header'}
    %button{'type'=>'button', 'class'=>'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}×
    %h3{'id'=>'myModalLabel'}= I18n.t('orders.new_client_modal.title')
  %div{'class'=> 'modal-body'}
    = form_for @client, remote: true do |f|
      -if @client.errors.any?
        #error_explanation
          %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
          %ul
          - @client.errors.full_messages.each do |msg|
            %li= msg

      .field
        = f.label :name, I18n.t('orders.new_client_modal.name')
        = f.text_field :name
      .field
        = f.label :rut, I18n.t('orders.new_client_modal.rut')
        = f.text_field :rut
      .field
        = f.label :contact, I18n.t('orders.new_client_modal.contact')
        = f.text_field :contact
      .field
        = f.label :email, I18n.t('orders.new_client_modal.email')
        = f.text_field :email
      .field
        = f.label :address, I18n.t('orders.new_client_modal.address')
        = f.text_field :address
      .field
        = f.label :phone, I18n.t('orders.new_client_modal.phone')
        = f.text_field :phone
  %div{'class' => 'modal-footer'}
    %button{ 'class' => 'btn', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}= I18n.t('general.cancel')
    %button{ 'class' => 'btn btn-primary', 'id' => 'save_client', 'type' => 'submit'}= I18n.t('general.create')


