= form_for @order do |f|
  -if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :client
    = f.collection_select :client_id, @clients,:id, :name
  .field
    = f.label :notes
    = f.text_area :notes, size: "48x4"
  .field
    = f.label :due_date
    = f.text_field :due_date
  .field
    = f.label :total
    = f.number_field :total
  .field
    = f.label :delivery_address
    = f.text_field :delivery_address
  .actions
    = f.submit 'Save', class: "btn btn-primary"
