%h1 Listing orders
%fieldset.fiedset
  = search_form_for @q, :url => search_orders_path, :html => {:method => :post} do |f|
    = f.label :client_name
    = text_field_tag :client_name, @client.name , :id => 'search_client_name' ,data: {'autocomplete_source' => Client.order(:name).map {|u| Hash[id: u.id, label: u.name]}}
    = label_tag :between_date, 'Between dates' 
    = f.text_field :due_date_gt, value: (params['q']['due_date_gt'] unless params['q'].nil?)
    = f.text_field :due_date_lt, value: (params['q']['due_date_lt'] unless params['q'].nil?)
    .control
    = f.label :pay, 'Pay'
    = f.select :pay_eq, options_for_select([['No',false],['Yes',true]], (params['q']['pay_eq'] unless params['q'].nil?)), {:class => 'span1 input-small'}
    = f.label :active, 'Active', :class => 'control-label'
    = f.select :active_eq, options_for_select([['No',false],['Yes',true]], (params['q']['active_eq'] unless params['q'].nil?)), :class => 'span1 input-small'
    = f.label :status,'Status'
    = f.select :status_eq, options_for_select(@status, (params[:q][:status_eq] unless params['q'].nil?)),:class => 'span2'
    = hidden_field_tag :id_client, @client.id
    = submit_tag 'Search', :class => 'btn btn-primary'

%table.table{ :id => 'tableOrders', :class => 'sortable' }
  %tr
    %th Number
    %th Client
    %th Delivery address
    %th Due date
    %th Total
    %th Notes
    %th Status
    %th
    %th
    %th


  - @orders.each do |order|
    %tr{ :id => order.id , :class => order.status }
      %td= order.number
      %td= order.client.nil? ? order.final_client : order.client.name
      %td= order.delivery_address
      %td= order.due_date
      %td= order.total
      %td= order.notes
      %td= select_tag 'Status',options_for_select(@status,order.status), :class => 'span10'
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, data: {:confirm => 'Are you sure?'}, :method => :delete

%br

= link_to 'New Order', new_order_path
