%h1 Listing orders
%fieldset.fiedset
  %form
    .control-group
      = label_tag :client_name, 'Client name', :class => 'control-label'
      .controls
        = text_field_tag :client_name,'', :id => 'search_client_name' ,data: {'autocomplete_source' => Client.order(:name).map {|u| Hash[id: u.id, label: u.name]}}
    .control-group
      = label_tag :between_date, 'Between dates', :class => 'control-label'
      .controls
        = text_field_tag :begin_date, '', :class => 'input-small'
        = text_field_tag :end_date, '',:class => 'input-small'
    .control-group
      = label_tag :pay, 'Pay',:class => 'control-label'
      .control
        = select_tag :pay,options_for_select([['No',false],['Yes',true]]), :class => 'span1'
    .control-group
      = label_tag :active, 'Active', :class => 'control-label'
      .control
        = select_tag :active,options_for_select([['No',false],['Yes',true]]), :class => 'span1'
    .contro-group
      = label_tag :status,'Status'
      .control
        = select_tag :status,options_for_select(@status),:class => 'span2'
    = hidden_field_tag :id_client 
    = submit_tag 'Search', :class => 'btn offset10' 

%table.table{ :id => 'tableOrders'}
  %tr
    %th Number
    %th Client
    %th Delivery address
    %th Due date
    %th Total
    %th Notes
    %th Status
    %th
    %th
    %th


  - @orders.each do |order|
    %tr{ :id => order.id }
      %td= order.number
      %td= order.final_client.blank? ? order.client.name : order.final_client
      %td= order.delivery_address
      %td= order.due_date
      %td= order.total
      %td= order.notes
      %td= select_tag 'Status',options_for_select(@status,order.status), :class => 'span10'
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, data: {:confirm => 'Are you sure?'}, :method => :delete

%br

= link_to 'New Order', new_order_path
