%p#notice= notice

%p
  %b Number:
  = @order.number
%p
  %b Notes:
  = @order.notes
%p
  %b Due date:
  = @order.due_date
%p
  %b Total:
  = @order.total
%p
  %b Client:
  = @order.client.name if @order.client
%p
  %b User:
  = @order.user.email if @order.user
%p
  %b Delivery address:
  = @order.delivery_address
%p
  %b Final client:
  = @order.final_client

%legend Products  
%table{ id: 'tableProducts', class: 'table table-striped'}
  %tbody 
    %tr
      %th{ class: 'span2'} Name
      %th{ class: 'span2'} Quantity
      %th{ class: 'span2'} Price
      %th{ calss: 'spna2'} Subtotal
      - if !@order.blank? && !@order.product_orders.blank?  
        - @order.product_orders.each do |p|
          %tr{ id:p.product.id} 
            %td= p.product.name
            %td= p.quantity
            %td= p.price 
            %td= p.price * p.quantity

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
