%p#notice= notice

%div.main_content
  %div.panel
    %div.panel_contents
      %div.attributes_table{"id" => "attributes_table"}
        %legend Show
        %table
          %tr
            %th Number:
            %td= @order.number
          %tr
            %th Notes:
            %td= @order.notes
          %tr
            %th Due date:
            %td= @order.due_date
          %tr
            %th Total:
            %td= @order.total
          %tr
            %th Client:
            %td= @order.client.name if @order.client
          %tr
            %th User:
            %td= @order.user.email if @order.user
          %tr
            %th Delivery address:
            %td= @order.delivery_address
          %tr
            %th Final client:
            %td= @order.final_client

%br

%legend Products  
%table.index_table.zebra.sortable{ id: 'tableProducts', class: 'table-striped'}
  %tbody 
    %tr
      %th{ class: 'span2'} Name
      %th{ class: 'span2'} Quantity
      %th{ class: 'span2'} Price
      %th{ calss: 'spna2'} Subtotal
      - if !@order.blank? && !@order.product_orders.blank?  
        - @order.product_orders.each do |p|
          %tr{ id:p.product.id} 
            %td= p.product.name
            %td= p.quantity
            %td= p.price 
            %td= p.price * p.quantity

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
