%p#notice= notice

%p
  %b Number:
  = @order.number
%p
  %b Notes:
  = @order.notes
%p
  %b Due date:
  = @order.due_date
%p
  %b Total:
  = @order.total
%p
  %b Client:
  = @order.client.name if @order.client
%p
  %b User:
  = @order.user.email if @order.user
%p
  %b Delivery address:
  = @order.delivery_address

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
