<h2><%= I18n.t("admin.sessions.new.title") %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label'%>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
          <%= f.email_field :email, :class => 'span2' %>
      </div>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :password, I18n.t("admin.sessions.new.password"),:class => 'control-label'%>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        <%= f.password_field :password, :class => 'span2',:autocomplete => false %>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, I18n.t("admin.sessions.new.remember_me") %></div>
  <% end -%>

  <div><%= f.submit I18n.t('admin.sessions.new.sign_in'), id: 'sign_in' %></div>
<% end %>

<%= render "admins/shared/links" %>
