%p#notice= notice

%h2= I18n.t('users.show.title')

%p
  %b Email:
  = @user.email
%p
  %b= I18n.t('users.show.sign_in_count')
  = @user.sign_in_count
%p
  %b= I18n.t('users.show.last_sign_in_at')
  = I18n.l @user.last_sign_in_at, :format => :short
%p
  %b= I18n.t('users.show.created_at')
  = I18n.l @user.created_at, :format => :short
%p
  %b= I18n.t('users.show.updated_at')
  = I18n.l @user.updated_at, :format => :short
%p
  %b= t 'users.supplier'
  = @user.supplier.name

= link_to I18n.t('general.edit'), edit_user_path(@user)
\|
= link_to I18n.t('general.back'), users_path
