%p#notice= notice

%p
  %b Name:
  = @client.name
%p
  %b RUT:
  = @client.rut
%p
  %b Contact:
  = @client.contact
%p
  %b Email:
  = @client.email
%p
  %b Address:
  = @client.address
%p
  %b Phone:
  = @client.phone

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
