<p><%= I18n.t('devise.mailer.reset.hello')%><%= @resource.email %>!</p>

<p><%= I18n.t('devise.mailer.reset.mesagge') %></p>

<p><%= link_to I18n.t('devise.mailer.reset.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= I18n.t('devise.mailer.rest.footer')%></p>
<p><%= I18n.t('devise.mailer.rest.footer2')%></p>
