<h2><%= I18n.t('admin.password.new.title') %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit I18n.t('admin.password.new.send') %></div>
<% end %>

<%= render "admins/shared/links" %>
