%p#notice= notice

%legend Show
%table
  %tr
    %th= I18n.t('products.show.name')
    %td= @product.name
  %tr
    %th= I18n.t('products.show.description')
    %td= @product.description
  %tr
    %th= I18n.t('products.show.price')
    %td= @product.price
  %tr
    %th= I18n.t('products.show.tax')
    %td= @product.tax
%br

= link_to I18n.t('general.edit'), edit_product_path(@product)
\|
= link_to I18n.t('general.back'), products_path
