%p#notice= notice

%legend Show
%table
  %tr
    %th Name:
    %td= @product.name
  %tr
    %th Description:
    %td= @product.description
  %tr
    %th Price:
    %td= @product.price
  %tr
    %th Tax:
    %td= @product.tax
%br

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
