%nav
  %ul.nav
    - if current_admin
      %li.active
        = link_to I18n.t('layouts.menu.users'), users_path()
      %li
        = link_to I18n.t('layouts.menu.orders'), orders_path()
    - else
      %li.active
        = link_to I18n.t('layouts.menu.orders'), orders_path()
    %li
      = link_to I18n.t('layouts.menu.clients'), clients_path()
    %li
      = link_to I18n.t('layouts.menu.products'),products_path()
