<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Delivery</a>
      <div class="nav-collapse collapse">
        <% if current_user %>
        <p class="navbar-text pull-right">
          <%= t 'layouts.menu.logged_in_as' %> <a href="#" class="navbar-link"><%= current_user.email %></a>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </p>
        <ul class="nav">
          <li class="active"><a href="/orders"><%= t 'layouts.menu.orders' %></a></li>
          <li><a href="/clients"><%= t 'layouts.menu.clients' %></a></li>
          <li><a href="/products"><%= t 'layouts.menu.products' %></a></li>
        </ul>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
