<p><%= I18n.t('users.reset.hello',:email => @resource.email) %></p>

<p><%= I18n.t('users.reset.message') %></p>

<p><%= link_to I18n.t('users.reset.change'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= I18n.t('users.reset.message2') %></p>
<p><%= I18n.t('users.reset.message3') %></p>
